<div class='col-md-2'>
<h4>About this site</h4>
<p>Just a list of stuff I like in no particular order. I just want to write about fun, interesting, and useful stuff. Trying to keep the politics off of here.</p>
<ul>
	<li><a href="/">\..</a></li>
	<li><a href="/tags/biography/">biography</a></li>
	<li><a href="/tags/blog/">blog (meta)</a></li>
	<li><a href="/tags/food/">food</a></li>
	<li><a href="/tags/stuff/">stuff</a></li>
	<li><a href="/tags/travel/">travel</a></li>

</ul>
</div>
